<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018755179747-fico1r57th0lsvudlvpeubmip9jddgtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018755179747-fico1r57th0lsvudlvpeubmip9jddgtl</string>
	<key>API_KEY</key>
	<string>AIzaSyAv83RjvB6Kxrtfdk6DDY7VYT0z7EO0dks</string>
	<key>GCM_SENDER_ID</key>
	<string>1018755179747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walter.FoodDots</string>
	<key>PROJECT_ID</key>
	<string>fooddots-890ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddots-890ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018755179747:ios:d8bb3afa28100ea22011d6</string>
</dict>
</plist>